@model IEnumerable<Dominio.Anuncio>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-7">
        <p>
            @if (Request.IsAuthenticated)
            {
                <h2>  @Html.ActionLink("Anunciar", "Create")</h2>
            }
            else
            {
                <h2>
                    @Html.ActionLink("Anunciar", "Login", "Pessoas")
                </h2>
            }
        </p>
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-9">
                            <h4>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@Url.Action("Details", "Anuncios", new { id = item.ID })">@Html.DisplayFor(modelItem => item.Nome)</a>
                                    @Html.ActionLink("- Editar", "Edit", new { id = item.ID })
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Nome)
                                }

                            </h4>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="https://amopaocaseiro.com.br/wp-content/uploads/2020/01/pao-caseiro-para-iniciantes_02-840x560.jpg" alt="..." class="img-rounded">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">Valor: R$120,00</div>
                        <div class="col-xs-6 col-sm-3">
                            Alfenas-MG

                        </div>

                    </div>

                </div>
                <div class="panel-footer">@Html.DisplayFor(modelItem => item.Pessoa.Nome) - @Html.DisplayFor(modelItem => item.Data)</div>
            </div>

        }


    </div>
    <div class="col-md-3">

    </div>
</div>
